.Footer{
    background-color: var(--lightgreen);
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width:100%;
    height: 100%;
    height:80px;
    color:white;
}

@media (max-width: 450px) { 
  .Footer{position: initial;}
}

@media (min-height: 750px) { 
  .Footer{position: absolute;}
}


